body{
    background-color:oldlace;

}

#bienvenido{
     
}

.boton{
    
    display: block; 
    padding: 40px 0 0 0;
    margin: 0 auto;
    width: 100%;
    text-align: center; 
    background-color: papayawhip;
    height: 70px;
    font-size: 30px;
    
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
    border: 1px solid #dd514c;
    border-radius: 10px;
}

.boton:hover{
    background-color: peru;
}
